*{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: 'Maven Pro', sans-serif;
	font-size: 14px;
	line-height: 24px;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Libre Franklin', sans-serif;
}

a, a:hover{
	text-decoration: none;
}

.header-section{
	width: 100%;
	background: url(../images/banner.png) center top no-repeat;
	background-size: cover; 
}
.main-menu{
	width: 100%;
}
.main-menu .bg-light{
	background: transparent !important;
}
.header-section .main-menu .navbar-brand img{
	max-width: 115px;
}
.main-menu .navbar-light .navbar-nav .active>.nav-link{
	color: #511de5;
	background: url(../images/line.png) center bottom no-repeat;
	background-size: contain;
}
.main-menu .navbar-light .navbar-nav .nav-link {
	color: #000;
	font-size: 15px;
	font-weight: 700;
	margin: 0px 15px;
}
.main-menu .navbar-light .navbar-nav .nav-link:hover{
	color: #511de5;
	background: url(../images/line.png) center bottom no-repeat;
}
.main-menu .navbar-light .btn-link{
	color: #000;
	font-size: 15px;
	font-weight: 700;
	margin: 0px 15px;
	transition: 1s;
}
.main-menu .navbar-light .btn-link:hover{
	color: #511de5;
	text-decoration: none;
}
.main-menu .navbar-light .btn-info {
	padding: 6px 40px;
	font-size: 14px;
	color: #fff;
	text-transform: capitalize;
	font-weight: 600;
	background: linear-gradient(45deg, #511de5, #0a8ffc);
	border: 0px;
	border-radius: 25px;
	transition: 1s;
}
.main-menu .navbar-light .btn-info:hover, .main-menu .navbar-light .btn-info:focus{
	font-weight: 600;
	border: #000;
	background: linear-gradient(45deg, #0a8ffc, #511de5);
}

.banner{
	width: 100%;
	padding: 120px 0px;
}
.inner-banner{
	width: 100%;
	padding: 80px 0px;
	text-align: right;
}
.inner-banner h1 {
	font-size: 50px;
	font-weight: 900;
	line-height: 60px;
	color: #000;
}
.inner-banner h1 span{
	color: #511de5;
}
.inner-banner .btn-primary{
	padding: 10px 40px;
	letter-spacing: 3px;
	font-size: 14px;
	color: #000;
	text-transform: uppercase;
	font-weight: 400;
	background: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 25px;
	margin-top: 20px;
	transition: 1s;
}
.inner-banner .btn-primary:hover, .inner-banner .btn-primary:focus{
	background: transparent;
	border: 1px solid #511de5;
	color: #511de5;
}
.inner-banner .btn-primary .fa{
	margin-left: 10px;
}

/*Highlight section code started*/
.highlight {
	width: 100%;
	padding: 40px 0px;
	background: url(../images/h.png) center top no-repeat;
	background-size: cover;
}
.inner-img{
	position: relative;
	width: 100%;
}
.inner-img img {
	position: absolute;
	top: -80px;
	left: 35px;
	max-width: 250px;
}
.inner-img h4 {
	text-align: center;
	text-align: center;
	color: #fff;
	font-size: 24px;
	line-height: 34px;
}

/*Inner features starts here*/

.features{
	width: 100%;
	padding: 80px 0px;
}
.features .inner-feature{
	width: 100%;
	background: url("../images/bgg.png") bottom right no-repeat;
	background-size: cover;
	padding: 80px;
	box-shadow: 1px 2px 10px #ccc;
}
.features .inner-feature h2 {
	font-size: 36px;
	font-weight: 900;
	line-height: 40px;
	margin-bottom: 25px;
	color: #000;
}
.features .inner-feature p{
	font-size: 14px;
	color: #000;
	margin-bottom: 40px;

}
.features .inner-feature .big-text{
	margin-top: 70px;
}
.features .inner-feature .big-text .num{
	font-family: 'Libre Franklin', sans-serif;
	font-size: 80px;
	font-weight: 900;
	font-size: 72px;
	color: #511de5;
}
.features .inner-feature .big-text .percent {
	font-family: 'Libre Franklin', sans-serif;
	font-size: 80px;
	font-weight: 900;
	margin: 0px 10px 0px 0px;
	font-size: 72px;
	background: -webkit-linear-gradient(0deg, #511de5, #098ffc);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.features .inner-feature .big-text .pi {
    font-weight: 700;
    font-size: 16px;
}

.client-img {
    width: 100%;
    padding: 60px 40px 0px;
}
/*Inner features ends here*/

/*Quote section starts*/

.into-quote{
	width: 100%;
	padding: 115px 0px;
	background: url("../images/bg2.png") center top no-repeat;
	background-size: cover;
}
.into-quote .quote-inner {
    width: 100%;
    background: url(../images/quote.png) center top no-repeat;
    background-size: cover;
    padding: 112px 30px;
    margin: 70px 0px;
}

.into-quote .quote-inner .testimonial {
    width: 80%;
    padding: 20px;
    margin: 0px auto;
}
.into-quote .quote-inner .testimonial p {
    font-size: 14px;
    color: #fff;
    margin: 20px 10px 20px 20px;
}
.into-quote .quote-inner .testimonial h5{
	font-size: 16px;
    color: #fff;
    margin: 10px 0px 0px 20px;
}

.inner-content{
	width: 100%;
	padding: 165px 0px;
}
.inner-content h2{
	font-size: 36px;
    font-weight: 900;
    line-height: 40px;
    color: #000;
}
.inner-content .btn-primary{
	padding: 10px 40px;
	letter-spacing: 3px;
	font-size: 14px;
	color: #000;
	text-transform: uppercase;
	font-weight: 400;
	background: #fff;
	border: 1px solid #fff;
	border-radius: 25px;
	margin-top: 20px;
	transition: 1s;
}
.inner-content .btn-primary:hover, .inner-banner .btn-primary:focus{
	background: transparent;
	border: 1px solid #000;
	color: #511de5;
}
/*Quote section ends*/