*{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: 'Maven Pro', sans-serif;
	font-size: 14px;
	line-height: 24px;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Libre Franklin', sans-serif;
}

a, a:hover{
	text-decoration: none;
}

.header-section{
	width: 100%;
	background: url(../images/banner.png) center top no-repeat;
	background-size: cover; 
}
.main-menu{
	width: 100%;
}
.main-menu .bg-light{
	background: transparent !important;
}
.header-section .main-menu .navbar-brand img{
	max-width: 115px;
}
.main-menu .navbar-light .navbar-nav .active>.nav-link{
	color: #511de5;
	background: url(../images/line.png) center bottom no-repeat;
	background-size: contain;
}
.main-menu .navbar-light .navbar-nav .nav-link {
	color: #000;
	font-size: 15px;
	font-weight: 700;
	margin: 0px 15px;
}
.main-menu .navbar-light .navbar-nav .nav-link:hover{
	color: #511de5;
	background: url(../images/line.png) center bottom no-repeat;
}
.main-menu .navbar-light .btn-link{
	color: #000;
	font-size: 15px;
	font-weight: 700;
	margin: 0px 15px;
	transition: 1s;
}
.main-menu .navbar-light .btn-link:hover{
	color: #511de5;
	text-decoration: none;
}
.main-menu .navbar-light .btn-info {
	padding: 6px 40px;
	font-size: 14px;
	color: #fff;
	text-transform: capitalize;
	font-weight: 600;
	background: linear-gradient(45deg, #511de5, #0a8ffc);
	border: 0px;
	border-radius: 25px;
	transition: 1s;
}
.main-menu .navbar-light .btn-info:hover, .main-menu .navbar-light .btn-info:focus{
	font-weight: 600;
	border: #000;
	background: linear-gradient(45deg, #0a8ffc, #511de5);
}

.banner{
	width: 100%;
	padding: 120px 0px;
}
.inner-banner{
	width: 100%;
	padding: 80px 0px;
	text-align: right;
}
.inner-banner h1 {
	font-size: 50px;
	font-weight: 900;
	line-height: 60px;
	color: #000;
}
.inner-banner h1 span{
	color: #511de5;
}
.inner-banner .btn-primary{
	padding: 10px 40px;
	letter-spacing: 3px;
	font-size: 14px;
	color: #000;
	text-transform: uppercase;
	font-weight: 400;
	background: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 25px;
	margin-top: 20px;
	transition: 1s;
}
.inner-banner .btn-primary:hover, .inner-banner .btn-primary:focus{
	background: transparent;
	border: 1px solid #511de5;
	color: #511de5;
}
.inner-banner .btn-primary .fa{
	margin-left: 10px;
}

/*Highlight section code started*/
.highlight {
	width: 100%;
	padding: 40px 0px;
	background: url(../images/h.png) center top no-repeat;
	background-size: cover;
}
.inner-img{
	position: relative;
	width: 100%;
}
.inner-img img {
	position: absolute;
	top: -80px;
	left: 35px;
	max-width: 250px;
}
.inner-img h4 {
	text-align: center;
	text-align: center;
	color: #fff;
	font-size: 24px;
	line-height: 34px;
}

/*Inner features starts here*/

.features{
	width: 100%;
	padding: 80px 0px;
}
.features .inner-feature{
	width: 100%;
	background: url("../images/bgg.png") bottom right no-repeat;
	background-size: cover;
	padding: 80px;
	box-shadow: 1px 2px 10px #ccc;
}
.features .inner-feature h2 {
	font-size: 36px;
	font-weight: 900;
	line-height: 40px;
	margin-bottom: 25px;
	color: #000;
}
.features .inner-feature p{
	font-size: 14px;
	color: #000;
	margin-bottom: 40px;

}
.features .inner-feature .big-text{
	margin-top: 70px;
}
.features .inner-feature .big-text .num{
	font-family: 'Libre Franklin', sans-serif;
	font-size: 80px;
	font-weight: 900;
	font-size: 72px;
	color: #511de5;
}
.features .inner-feature .big-text .percent {
	font-family: 'Libre Franklin', sans-serif;
	font-size: 80px;
	font-weight: 900;
	margin: 0px 10px 0px 0px;
	font-size: 72px;
	background: -webkit-linear-gradient(0deg, #511de5, #098ffc);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.features .inner-feature .big-text .pi {
	font-weight: 700;
	font-size: 16px;
}

.client-img {
	width: 100%;
	padding: 60px 40px 0px;
}
/*Inner features ends here*/

/*Quote section starts*/

.into-quote{
	width: 100%;
	padding: 115px 0px;
	background: url("../images/bg2.png") center top no-repeat;
	background-size: cover;
}
.into-quote .quote-inner {
	width: 100%;
	background: url(../images/quote.png) center top no-repeat;
	background-size: cover;
	padding: 112px 30px;
	margin: 70px 0px;
}

.into-quote .quote-inner .testimonial {
	width: 80%;
	padding: 20px;
	margin: 0px auto;
}
.into-quote .quote-inner .testimonial p {
	font-size: 14px;
	color: #fff;
	margin: 20px 10px 20px 20px;
}
.into-quote .quote-inner .testimonial h5{
	font-size: 16px;
	color: #fff;
	margin: 10px 0px 0px 20px;
}

.inner-content{
	width: 100%;
	padding: 165px 0px;
}
.inner-content h2{
	font-size: 36px;
	font-weight: 900;
	line-height: 40px;
	color: #000;
}
.inner-content .btn-primary{
	padding: 10px 40px;
	letter-spacing: 3px;
	font-size: 14px;
	color: #000;
	text-transform: uppercase;
	font-weight: 400;
	background: #fff;
	border: 1px solid #fff;
	border-radius: 25px;
	margin-top: 20px;
	transition: 1s;
}
.inner-content .btn-primary:hover, .inner-banner .btn-primary:focus{
	background: transparent;
	border: 1px solid #000;
	color: #511de5;
}
/*Quote section ends*/

/*Efficiency section starts*/

.efficiency{
	width: 100%;
	padding: 80px 0px 100px;
}
.efficiency .left-efs{
	width: 100%;
	padding: 80px 0px;
}
.efficiency .left-ef h1{
	font-size: 36px;
	font-weight: 900;
	line-height: 40px;
	margin-bottom: 25px;
	margin-top: 70px;
	color: #000;
}
.efficiency .left-ef p{
	font-size: 14px;
	font-weight: 600;
	color: #000;
	margin-bottom: 35px;
}
.efficiency .left-ef .track{
	font-size: 15px;
	font-weight: 700;
	color: #000;
	margin-bottom: 15px;
}
.efficiency .left-ef .data {
	font-size: 15px;
	font-weight: 700;
	color: #000;
	margin-bottom: 40px;
}
.efficiency .left-ef .track img, .efficiency .left-ef .data img{
	margin-right: 20px;
}

.efficiency .left-ef .btn-primary {
	padding: 6px 40px;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #fff;
	background: linear-gradient(45deg, #511de5, #0a8ffc);
	border-radius: 25px;
	transition: 1s;
}
.efficiency .left-ef .btn-primary:hover, .efficiency .left-eff .btn-primary:focus{
	font-weight: 400;
	background: linear-gradient(45deg, #0a8ffc, #511de5);
}


/*Efficiency section ends*/

/*Design sections starts*/
.designF{
	width: 100%;
	padding: 80px 0px 50px;
	border-top: 2px solid #eee;
	text-align: center;
	background: #fcfcfc;
}
.designF .bottom{
	border-right: 2px solid #eee;
	padding-bottom: 40px;
}
.designF .bottom img {
	mix-blend-mode: darken;
}
.designF .top h1{
	font-size: 36px;
	font-weight: 900;
	line-height: 40px;
	margin-bottom: 40px;
	color: #000;
}
.designF .top p{
	font-size: 14px;
	font-weight: 600;
	color: #000;
	margin-bottom: 100px;
}
.designF .bottom h4, .designF .bottom-last h4 {
	font-size: 20px;
	font-weight: 800;
	margin: 16px 0px;
	color: #000;
}
.designF .bottom p, .designF .bottom-last p{
	font-size: 14px;
	font-weight: 600;
	color: #000;
}
/*Design section ends*/

/*Inspirational quotes section starts*/

.iquote{
	width: 100%;
	padding: 80px 0px;
	border-top: 2px solid #eee;
}
.iquote .head-section{
	width: 100%;
	padding: 0px 0px 40px;
}
.iquote .head-section h1 {
	font-size: 50px;
	font-weight: 900;
	text-align: center;
	color: #000;
	padding-bottom: 40px;
}
.iquote .client-box {
	width: 100%;
	padding: 40px 10px 0px;
	text-align: center;
	background: url(../images/f1.png) center top no-repeat;
	background-size: cover;
	border: 1px solid #f2f2f2;
	opacity: .5;
	-webkit-transition: 1s;
	-o-transition: 1s;
	-moz-transition:1s;
}
.iquote .client-box:hover{
	opacity: 1;
	box-shadow: 5px 10px 10px #eee;
}
.iquote .client-box:hover .client-head h5{
	background: -webkit-linear-gradient(0deg, #511de5, #098ffc);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.iquote .client-box .client-head {
	width: 100%;
	padding: 60px 0px;
	border-bottom: 1px solid #777;
}
.iquote .client-box .client-head h5 {
	font-size: 16px;
	font-weight: 700;
	padding: 0px 10px;
	color: #777;
	line-height: 26px;
}
.iquote .client-info{
	width: 100%;
	padding: 40px 0px;
}
.iquote .client-info img{
	width: 60px;
	height: 60px;
	margin-bottom: 20px;
}
.iquote .client-info h6{
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
	color: #777;
	line-height: 26px;
	margin-bottom: 0px;
	-webkit-transition: 1s;
	-o-transition: 1s;
	-moz-transition:1s;
}
.iquote .client-box:hover .client-info h6{
	color: #000;
}
.iquote .client-info p{
	margin-bottom: 0px;
	font-size: 14px;
	line-height: 24px;
	text-transform: capitalize;
	font-weight: 400;
	color: #777;
	-webkit-transition: 1s;
	-o-transition: 1s;
	-moz-transition:1s;
}
.iquote .client-box:hover .client-info p{
	color: #666;
}
/*Inspirational quotes section starts*/

/*Footer section starts*/

.footer{
	width: 100%;
	padding: 80px 0px;
	background: url("../images/fbg.png") center top no-repeat;
	background-size: cover;
}
.footer .faq{
	width: 100%;
}
.inner-faq{
	width: 100%;
	background: #fff;
	padding: 80px;
	box-shadow: 1px 4px 5px #ccc;
}
.inner-faq .title{
	width: 100%;
	padding: 0px 0px 40px;
	text-align: center;
}
.inner-faq .title h2{
	font-size: 50px;
	font-weight: 900;
	line-height: 60px;
	text-transform: capitalize;
	color: #000;
	margin-bottom: 40px;

}
.inner-faq .card {
	background-color: #fff;
	background-clip: none;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 1px solid #eee !important;
	border: none;
	border-radius: .25rem;
}
.inner-faq .card .card-header {
	padding: .75rem 1.25rem .75rem 0rem;
	margin-bottom: 0;
	background-color: transparent;
	border: none;	
}
.inner-faq .card .card-body {
	padding: .25rem 1.25rem 1.25rem 0rem;
	color: #000;
	font-size: 14px;
	line-height: 24px;
}
.inner-faq .card .card-header .btn{
	padding: .375rem 0rem;
}
.inner-faq .card .card-header .btn-link {
	font-weight: 700;
	color: #000;
	text-decoration: none;
}
.inner-faq .card .card-header .btn-link:hover, .inner-faq .card .card-header .btn-link:focus{
	color: #0000ff;
}
.inner-faq .card .card-header .btn:focus {
	outline: 0;
	box-shadow: none;
}
.faq .op {
    padding: 100px 0px 0px;
    margin: 0px;
}
.faq .op li{
	list-style: none;
	display: inline-block;
}
.faq .op li a{
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	transition: 1s;
}
.faq .op li a:hover, .faq .op li a:focus{
	color: #000;
}
.faq .op li a span {
    padding: 0px 0px 0px 15px;
}
.faq .copyright h6{
	padding: 100px 0px 0px;
    margin: 0px;
    text-align: right;
    font-size: 16px;
	font-weight: 700;
	color: #fff;
}
/*Footer section ends*/